<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>UsersPage</title>

</head>
<body>
<h1 th:text="${titleTable1}"/>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Имя</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Возраст</th>
    <th scope="col">Национальность</th>
    <th scope="col">Логин</th>
    <th scope="col">Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">

    <td th:text="${user.getId()}">
    <td th:text="${user.getName()}">
    <td th:text="${user.getLastName()}">
    <td th:text="${user.getAge()}">
    <td th:text="${user.getNational()}">
    <td th:text="${user.getUserName()}">
    <td>
      <form th:action="@{/admin/{id}(id=${user.getId()})}" target="_self">
        <button>Перейти на страницу пользователя</button>
      </form>
      <form th:action="@{/admin/{id}/editUser(id=${user.getId()})}" target="_self">
        <button>Обновить данные</button>
      </form>
      <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <button>Удалить пользователя</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
  <form action="/admin/addUser" target="_self">
    <button>Добавить нового пользователя</button>
  </form>
  <br>
  <br>
</div>
<form th:action="@{/logout}" th:method="POST" target="_self">
  <button>Выйти</button>
</form>
</body>
</html>