<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>UsersPage</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Национальность</th>
        <th>Логин</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getNational()}"></td>
        <td th:text="${user.getUsername()}"></td>
    </tbody>
</table>
    </tbody>
</table>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <form action="/admin" target="_self">
        <button>Return to users</button>
    </form>
    <br>
    <br>
</div>
<form th:action="@{/logout}" th:method="POST" target="_self">
    <button>Exit</button>
</form>

</body>
</html>